{% extends 'base.html.twig' %}

{% block title %}Список книг{% endblock %}

{% block body %}

    <div class="container mt-5">
        <h1>Список книг автора {{ author.firstName }} {{ author.lastName }}</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" style="width: 10%">#</th>
                    <th scope="col" style="width: 30%">Книга</th>
                    <th scope="col" style="width: 30%">Год</th>
                    <th scope="col" style="width: 30%"></th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <th scope="row">{{ book.id }}</th>
                        <td>{{ book.title }}</td>
                        <td>{{ book.year }}</td>
                        <td>
                            <div class="float-right">
                                <a href="#"><button type="button" class="btn btn-primary">Редактировать</button></a>
                                <a href="#"><button type="button" class="btn btn-danger">Удалить</button></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="#"><button type="button" class="btn btn-primary">Добавить книгу </button></a>

        
    </div>
{% endblock %}