{% extends 'base.html.twig' %}

{% block title %}Список авторов{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Список авторов</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" style="width: 10%">#</th>
                    <th scope="col" style="width: 30%">Имя</th>
                    <th scope="col" style="width: 30%">Фамилия</th>
                    <th scope="col" style="width: 30%"></th>
                </tr>
            </thead>
            <tbody>
                {% for author in authors %}
                    <tr>
                        <th scope="row">{{ author.id }}</th>
                        <td>{{ author.firstName }}</td>
                        <td>{{ author.lastName }}</td>
                        <td>
                            <div class="float-right">
                                <a href="{{ path('update_author', { 'author': author.id }) }}"><button type="button" class="btn btn-primary">Редактировать</button></a>
                                <a href="{{ path('author_books', { 'author': author.id }) }}"><button type="button" class="btn btn-primary">Список книг</button></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('create_author')}}"><button type="button" class="btn btn-primary">Добавить автора</button></a> 
    </div>
{% endblock %}
