{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">
        <div class="mx-auto" style="width: 30%">
            <h1>{{ formHeading }}</h1>
                {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {{ form_row(form.firstName, { 'attr': {'class': 'form-control'}, 'label': 'Имя'}) }}
                    {{ form_row(form.lastName, { 'attr': {'class': 'form-control'}, 'label': 'Фамилия'}) }}
                    {{ form_row(form.save, { 'attr' :{'class': 'btn btn-primary mt-3'}, 'label': formLable }) }}

                {{ form_end(form) }}
        </div>
    </div>
{% endblock %}